<div class="container">
  <div ng-repeat="maker in main.coffeeMakers" class="panel panel-default" ng-init="maker.isChartCollapsed = true">
      <div class="panel-heading">
        <h3>{{ maker.name + ' @ ' + maker.location }}</h3>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6" ng-repeat="pan in maker.coffee_pan">
            <div ng-attr-id="{{'pan-' + pan.id }}"></div>
          </div>
        </div>
        <div class="tr-chart-area">
          <div class="tr-chart-collapser" >
            <a ng-click="maker.isChartCollapsed = !maker.isChartCollapsed" >
              <i ng-class="['text-center', 'glyphicon', maker.isChartCollapsed ? 'glyphicon-menu-down' : 'glyphicon-menu-up' ]"></i>
            </a>
          </div>
          <div ng-show="!maker.isChartCollapsed">
            <div ng-repeat="pan in maker.coffee_pan" class="row" >
              <div  ng-attr-id="{{'panchart-' + pan.id}}"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
