<div class="container">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Location</th>
    </thead>
    <tbody>
      <tr ng-click="vm.selectMaker(m)" ng-repeat="m in vm.makers" ng-class="{ success: vm.selectedMaker.id == m.id }">
        <td>{{m.name}}</td>
        <td>{{m.location}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row" ng-show="vm.selectedMaker">
    <div class="col-md-8">
      <img style="position:absolute" width="640" height="480" id="calibImage"/>
      <canvas style="position:absolute" id="calibCanvas" width="640" height="480"></canvas>
    </div>
    <div class="col-md-4">
      <h3>Pans</h3>
      <table class="table" ng-if="vm.selectedMaker">
        <thead>
          <th>Name</th>
          <th>x1</th>
          <th>y1</th>
          <th>x2</th>
          <th>y2</th>
        </thead>
        <tbody>
          <tr ng-class="{ success: vm.selectedPan.id == pan.id }" ng-click="vm.selectPan(pan)" ng-repeat="pan in vm.selectedMaker.coffee_pan">
            <td>{{pan.name}}</td>
            <td>{{pan.cap_x1}}</td>
            <td>{{pan.cap_y1}}</td>
            <td>{{pan.cap_x2}}</td>
            <td>{{pan.cap_y2}}</td>
          </tr>
        </tbody>
      </table>
      <button ng-click="vm.savePans(vm.selectedMaker)" class="btn btn-primary">Save   <span class="glyphicon glyphicon-floppy-save"></span></button>

    </div>
  </div>

</div>
