.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.tr-chart-collapser {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
  font-size: large;
}
.tr-chart-area {
  overflow: auto;
  overflow-right: hidden;
  padding: 10px;
  margin-top: 10px;
}
